.main-inner {
  padding-top 8px;
}

.post-toc .nav .active > a {
  border-bottom: 1px solid;
}

.post-toc .nav a {
  border-bottom: none;
}

.header-inner {
  border-radius 8px;
  top: 8px;
}

.sidebar {
  border-radius 8px ;
}

.post-block {
  border-radius 8px !important;
}